.homeResume{
    width: 100%;
}

.homeResumeContainer{
    width: 100%;
    /* height: 100px; */
    padding: 10px;
    box-sizing: border-box;
}

.educationElement{
    display: flex;
}
.bulletBox{
    width: 10%;
    display: flex;
    justify-content: center;
}
.educationContent{
    width: 90%;

    p{
        margin: 0;
    }
}